@import '../../../variables.scss';

.cancel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    font-size: 18px;
    background-color: $buttonColor;
    border: none;
    border-left: 2px solid rgb(181, 196, 182);
    line-height: 20px;
    img{
        height: 75%;
    }
}