@import '../../../variables.scss';

.forwardButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 200px;
    font-size: 18px;
    background-color:$buttonColor;
    border: none;
    line-height: 20px;
    border-radius: 8px;
    padding: 0 20px;
    cursor: pointer;
    &__text{

    }
    &__img{
        height: 100%;
      
    }
}