@import '../../../variables.scss';

.commonButton{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 100%;
    padding: 20px 20px;
    font-size: 20px;
    background-color: $mainColor;
    margin: 10px $buttonMarginX;
    box-shadow: 5px 5px 5px 5px $secondaryButtonShadow;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    &__img{
        height: 20px;
        align-self: flex-start;
        justify-self:flex-start;
    }
}
.commonButton:hover{
        background-color: $pointerButtonColor;
}