body {
    background-color: rgb(17, 17, 17);
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    height: 98vh;
    width: 100vh;
    background-color: rgb(248, 245, 245);
    
}
