body {
    background-color: rgb(17, 17, 17);
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    height: 98vh;
    width: 100vh;
    max-height: 840px;
    max-width: 840px;
    background-color: rgb(248, 245, 245);
    
}

.page {
    height: 84%;
    width: 100%;
}