$buttonColor: rgb(30, 177, 38);
$secondaryButtonColor: rgb(200,200,200);
$pointerButtonColor: rgb(226, 212, 202);
$secondaryButtonShadow:rgb(100, 100, 100);
$mainColor: white;
$secondaryColor:rgb(200,200,200);
$buttonMarginX: 10px;
$mainPadding: 20px;