@import '../../variables.scss';

.headerName{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px $buttonMarginX;
    
    &__img{
        margin-right: 10px;
    }
}